{% extends "base.html" %}

{% block class %}class="sub_page"{% endblock class %}
{% load static %}

{% block feedback_status %}active{% endblock feedback_status %}

{% block main %}
<!-- feedback section -->
  <section class="book_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          Submit a review
        </h2>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form_container">
            <form action="">
              <div>
                <input type="text" class="form-control" name="User_name" placeholder="Your Name" required />
              </div>
              <div>
                <textarea class="form-control h-auto" name="Description" placeholder="Describe your experience here" rows="5" required ></textarea>
              </div>
              <div>
                <select class="form-control nice-select wide">
                  <option value="" disabled selected>
                    Please give us a Rating?
                  </option>
                  <option value="1">
                    1
                  </option>
                  <option value="2">
                    2
                  </option>
                  <option value="3">
                    3
                  </option>
                  <option value="4">
                    4
                  </option>
                  <option value="5">
                    5
                  </option>
                </select>
              </div>
              <div>
                <label for="formFileLg" class="form-label">Select Image</label>
                <input class="form-control form-control-lg" id="formFileLg" type="file">
              </div>
              <div class="btn_box">
                <button>
                  Submit
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  
<!-- end feedback section -->
{% endblock main %}