{% extends "base.html" %}

{% block class %}class="sub_page"{% endblock class %}
{% load static %}

{% block feedback_status %}active{% endblock feedback_status %}

{% block main %}
<section class="book_section layout_padding">
  <div class="container">
    <div class="heading_container">
      <h2>Submit a Review</h2>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form_container">
          <form action="{% url 'Feedback' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div>
              {{ form.User_name }}
              {% if form.User_name.errors %}
              <div class="text-danger small mt-1">{{ form.User_name.errors.0 }}</div>
              {% endif %}
            </div>
            <div>
              {{ form.Description }}
              {% if form.Description.errors %}
              <div class="text-danger small mt-1">{{ form.Description.errors.0 }}</div>
              {% endif %}
            </div>
            <div>
              {{ form.Rating }}
              {% if form.Rating.errors %}
              <div class="text-danger small mt-1">{{ form.Rating.errors.0 }}</div>
              {% endif %}
            </div>
            <div>
              <label for="{{ form.Selfie.id_for_label }}" class="form-label">Select Image (optional)</label>
              {{ form.Selfie }}
              {% if form.Selfie.errors %}
              <div class="text-danger small mt-1">{{ form.Selfie.errors.0 }}</div>
              {% endif %}
            </div>
            <div class="btn_box">
              <button type="submit">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock main %}
